<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Accueil</title>
  </head>

  <body onload="init()">
    <header>
      <h1>PAJCO</h1>
      <a
        id="secretAdminLink"
        href="admin"
        class="hidden-secret-link"
        aria-label="Accès administrateur"
      ></a>
    </header>

    <main>
      <section>
        <h2>Bienvenue sur PAJCO !</h2>
        <p>
          PAJCO est un parking privé en ligne qui est accessible à tous les
          utilisateurs. Vous pouvez accéder à notre parking en ligne grace à
          notre interface web.
        </p>

        <p>
          Pour accéder à notre parking, vous devez d'abord introduire vos
          informations de connexion sur notre site web. Une fois votre mot de
          passe et username entré, si correct, la bariere sera ouverte quand le
          capteur de présence détectera votre présence et vous pourrez accéder à
          notre parking.
        </p>
        <p>
          Notre système de parking en ligne est conçu pour être simple et facile
          à utiliser. Il utilise un capteur de présence pour détecter les
          véhicules qui approchent de la barrière d'entrée. Lorsque le capteur
          de présence en détecte un véhicule, il envoie une notification à notre
          serveur, qui vérifie si le véhicule est autorisé à entrer. Si le
          véhicule est autorisé, la barrière s'ouvre automatiquement, permettant
          au conducteur d'accéder au parking.
        </p>
      </section>

      <section class="actions">
        <button type="button" onclick="enter()">Entrer dans le parking</button>
        <button type="button" onclick="exit()">Sortir du parking</button>
      </section>

      <dialog id="dialog">
        <p id="dialogMessage"><!-- Message de connexion --></p>
        <button onclick="fermerPopup('dialog')">Fermer</button>
      </dialog>
    </main>

    <footer>
      <p>
        Ceci est le projet PAJCO du groupe 5 dans le cadre du projet dans le
        cours d'electronique digitale.
      </p>
      <p>PAJCO - Parking Access Just Controle Online</p>
    </footer>
  </body>
</html>
